{% extends 'bases/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head %}

{% endblock %}
{% block title %}
熱值查詢
{% endblock title %}
{% block breadcrumb %}

{% endblock %}

{% block base_js %}
<style>
    .table-right-align td, .table-right-align th {
        text-align: right;
    }

    input, button, select {
        margin: 5px;
    }
</style>

<script src="{% static "chart.js/js/chart.min.js" %}"></script>
<script src="{% static "chart.js/js/chartjs-plugin-datalabels@2.0.0.js" %}"></script>
<script>
let heatChart = null;
let flowChart = null;
let BoxHeatRateChart = null;

$(document).ready(function () {
    setDefaultDates();
});

function getFormattedDate(date) {
    return date.toISOString().split('T')[0];
}

function setDefaultDates() {
    const today = new Date();
    const sevenDaysAgo = new Date();
    sevenDaysAgo.setDate(today.getDate() - 6); // 今天+6天共7天

    $('#startDate').val(getFormattedDate(sevenDaysAgo));
    $('#endDate').val(getFormattedDate(today));
}

function checkMachine() {
  const machine = document.getElementById("machine").value;
  if (!machine) {
    alert("請選擇機台");
    return false;
  }
  loadChartData();
}

function loadChartData() {
    const machine = $('#machine').val();
    const startDate = $('#startDate').val();
    const endDate = $('#endDate').val();
    const barColor = 'rgba(255, 99, 132, 0.6)';
    const title_font_size = 18;
    const tooltip_font_size = 20;
    const x_y_font_size = 18;
    const label_font_size = 18;
    const border_width = 5;

    if (!startDate || !endDate) {
        alert("請選擇日期範圍");
        return;
    }

    $.ajax({
        url: '{% url 'get_heat_data' %}',  // 請換成你實際的 URL
        method: 'GET',
        data: {
            machine: machine,
            start_date: startDate,
            end_date: endDate
        },
        success: function (response) {
            const labels = response.map(item => item.CreationTime);
            const SumHeat = response.map(item => item.SumHeat);
            const avgInOilTMP = response.map(item => item.avg_in_tmp);
            const avgOutOilTMP = response.map(item => item.avg_out_tmp);

            const ctx = document.getElementById('heatChart').getContext('2d');

            if (heatChart) {
                heatChart.destroy();
            }

            heatChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: '直接熱值(小時)',
                            data: SumHeat,
                            backgroundColor: barColor,
                            yAxisID: 'y',
                            order: 2
                        },
                        {
                            label: '進口平均溫度(小時)',
                            data: avgInOilTMP,
                            type: 'line',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: border_width,
                            yAxisID: 'y1',
                            order: 1
                        },
                        {
                            label: '出口平均溫度(小時)',
                            data: avgOutOilTMP,
                            type: 'line',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: border_width,
                            yAxisID: 'y1',
                            order: 1
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    interaction: {
                        mode: 'index',
                        intersect: false,
                    },
                    stacked: false,
                    plugins: {
                        tooltip: {
                          titleFont: {
                            size: tooltip_font_size
                          },
                          bodyFont: {
                            size: tooltip_font_size
                          }
                        },
                        title: {
                            display: true,
                            text: '熱值與溫度比對圖',
                            font: {
                                size: title_font_size
                            }
                        },
                        legend: {
                            labels: {
                                font: {
                                    size: label_font_size  // 調整圖例字體大小
                                }
                            }
                        }
                    },
                    scales: {
                        y: {
                            type: 'linear',
                            display: true,
                            position: 'left',
                            title: {
                                display: true,
                                text: '直接熱值',
                                font: {
                                    size: title_font_size
                                }
                            },
                            ticks: {
                                font: {
                                    size: x_y_font_size
                                }
                            }
                        },
                        y1: {
                            type: 'linear',
                            display: true,
                            position: 'right',
                            grid: {
                                drawOnChartArea: false,
                            },
                            title: {
                                display: true,
                                text: '油溫度(°C)',
                                font: {
                                    size: title_font_size
                                }
                            },
                            ticks: {
                                font: {
                                    size: x_y_font_size
                                }
                            }
                        },
                        x: {
                            ticks: {
                                font: {
                                    size: x_y_font_size
                                }
                            }
                        }
                    }
                }
            });
        },
        error: function () {
            alert("資料取得失敗！");
        }
    });

    $.ajax({
        url: '{% url 'get_flow_data' %}',  // 請換成你實際的 URL
        method: 'GET',
        data: {
            machine: machine,
            start_date: startDate,
            end_date: endDate
        },
        success: function (response) {
            const labels = response.map(item => item.CreationTime);
            const SumHeat = response.map(item => item.SumFlow);
            const avgInOilTMP = response.map(item => item.avg_in_tmp);
            const avgOutOilTMP = response.map(item => item.avg_out_tmp);

            const ctx = document.getElementById('flowChart').getContext('2d');

            if (flowChart) {
                flowChart.destroy();
            }

            flowChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: '流量(小時)',
                            data: SumHeat,
                            backgroundColor: barColor,
                            yAxisID: 'y',
                            order: 2
                        },
                        {
                            label: '進口平均溫度(小時)',
                            data: avgInOilTMP,
                            type: 'line',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: border_width,
                            yAxisID: 'y1',
                            order: 1
                        },
                        {
                            label: '出口平均溫度(小時)',
                            data: avgOutOilTMP,
                            type: 'line',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: border_width,
                            yAxisID: 'y1',
                            order: 1
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    interaction: {
                        mode: 'index',
                        intersect: false,
                    },
                    stacked: false,
                    plugins: {
                        tooltip: {
                          titleFont: {
                            size: tooltip_font_size
                          },
                          bodyFont: {
                            size: tooltip_font_size
                          }
                        },
                        title: {
                            display: true,
                            text: '流量與溫度比對圖',
                            font: {
                                size: title_font_size
                            }
                        },
                        legend: {
                            labels: {
                                font: {
                                    size: label_font_size  // 調整圖例字體大小
                                }
                            }
                        }
                    },
                    scales: {
                        y: {
                            type: 'linear',
                            display: true,
                            position: 'left',
                            title: {
                                display: true,
                                text: '流量',
                                font: {
                                    size: title_font_size
                                }
                            },
                            ticks: {
                                font: {
                                    size: x_y_font_size
                                }
                            }
                        },
                        y1: {
                            type: 'linear',
                            display: true,
                            position: 'right',
                            grid: {
                                drawOnChartArea: false,
                            },
                            title: {
                                display: true,
                                text: '油溫度(°C)',
                                font: {
                                    size: title_font_size
                                }
                            },
                            ticks: {
                                font: {
                                    size: x_y_font_size
                                }
                            }
                        },
                        x: {
                            ticks: {
                                font: {
                                    size: x_y_font_size
                                }
                            }
                        }
                    }
                }
            });
        },
        error: function () {
            alert("資料取得失敗！");
        }
    });

    $.ajax({
        url: '{% url 'get_box_heat_rate' %}',  // 請換成你實際的 URL
        method: 'GET',
        data: {
            machine: machine,
            start_date: startDate,
            end_date: endDate
        },
        success: function (response) {
            if (response.message && response.message.length > 0) {
                alert(response.message);
                BoxHeatRateChart.data.labels = [];
                BoxHeatRateChart.update();
                return false;
            }

            const data = response.df_dict;
            const labels = data.map(item => item.Date);
            const boxes = data.map(item => item.Boxes);
            const box_heat_rate = data.map(item => item.Box_Heat_Rate);
            $('#table-container').html(response.html_table);
            const ctx = document.getElementById('BoxHeatRateChart').getContext('2d');

            if (BoxHeatRateChart) {
                BoxHeatRateChart.destroy();
            }

            BoxHeatRateChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: '產出箱數(日)',
                            data: boxes,
                            backgroundColor: barColor,
                            yAxisID: 'y',
                            order: 2
                        },
                        {
                            label: '每箱平均耗用熱值(日)',
                            data: box_heat_rate,
                            type: 'line',
                            borderColor: 'rgba(0, 200, 255, 0.6)',
                            borderWidth: border_width,
                            yAxisID: 'y1',
                            order: 1
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    interaction: {
                        mode: 'index',
                        intersect: false,
                    },
                    stacked: false,
                    plugins: {
                        tooltip: {
                          titleFont: {
                            size: tooltip_font_size
                          },
                          bodyFont: {
                            size: tooltip_font_size
                          }
                        },
                        title: {
                            display: true,
                            text: '產量耗用熱值圖',
                            font: {
                                size: title_font_size
                            }
                        },
                        legend: {
                            labels: {
                                font: {
                                    size: label_font_size  // 調整圖例字體大小
                                }
                            }
                        }
                    },
                    scales: {
                        y: {
                            type: 'linear',
                            display: true,
                            position: 'left',
                            title: {
                                display: true,
                                text: '日箱數',
                                font: {
                                    size: title_font_size
                                }
                            },
                            ticks: {
                                font: {
                                    size: x_y_font_size
                                }
                            }
                        },
                        y1: {
                            type: 'linear',
                            display: true,
                            position: 'right',
                            grid: {
                                drawOnChartArea: false,
                            },
                            title: {
                                display: true,
                                text: '每箱平均耗用熱值',
                                font: {
                                    size: title_font_size
                                }
                            },
                            ticks: {
                                font: {
                                    size: x_y_font_size
                                }
                            }
                        },
                        x: {
                            ticks: {
                                font: {
                                    size: x_y_font_size
                                }
                            }
                        }
                    }
                }
            });
        },
        error: function () {
            alert("資料取得失敗！");
        }
    });

}

</script>

{% endblock %}

{% block ready %}

{% endblock ready %}

{% block container %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-3">
            <form class="form-inline">
                <div class="form-group">
                    <label for="machine">Machine:</label>
                    <select class="form-control" name="machine" id="machine">
                      <option value="">--------</option>
                      {{ option_str|safe }}
                    </select>
                </div>
                開始日期: <input type="date" class="form-control" id="startDate">
                結束日期: <input type="date" class="form-control" id="endDate">
                <button onclick="checkMachine()" class="btn btn-info" type="button">查詢</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="height: 400px;">
            <canvas id="BoxHeatRateChart"></canvas>
        </div>
    </div>
    <div class="row pt-5" style="height: 400px;">
        <div class="col-6">
            <canvas id="heatChart"></canvas>
        </div>
        <div class="col-6">
            <canvas id="flowChart"></canvas>
        </div>
    </div>
    <div id="table-container" class="row p-5">
    </div>
</div>
{% endblock %}