{% extends 'bases/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block head %}{% endblock %}
{% block title %}{% endblock title %}
{% block breadcrumb %}{% endblock %}

{% block base_js %}
    <style>
    .custom-edit{

    }
    </style>

{% endblock %}

{% block ready %}{% endblock ready %}

{% block container %}
    <div class="card-header">
        <div class="row">
            <div>
                <div class="btn-group">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    作業功能
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'packing_material_stock_in' %}">包材倉入庫單</a></li>
                        <li><a class="dropdown-item" href="{% url 'packing_material_stock_out' %}">包材倉出庫單</a></li>
                        <li><a class="dropdown-item" href="{% url 'bin_transfer_page' %}">調撥作業</a></li>
                        <hr />
                        <li><a class="dropdown-item" href="#">調帳作業</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    查詢功能
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'bin_search' %}">庫存查詢</a></li>
                        <li><a class="dropdown-item" href="{% url 'work_order_page' %}">訂單查詢</a></li>
                        <li><a class="dropdown-item" href="{% url 'work_order_bin_search' %}">交易紀錄</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    基本資料
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'warehouse_list' %}">儲位設定</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block content %} {% endblock %}
{% endblock %}

{% block alert %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}

