{% extends 'bases/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block head %}

{% endblock %}
{% block title %}
Index
{% endblock title %}
{% block breadcrumb %}

{% endblock %}

{% block base_js %}
<style>
.box-nav-container {
    display: flex;
    gap: 10px; /* 调整间距，根据需要设置 */
}

.box-nav-btn {
    display: inline-flex; /* 确保按钮内部的图标和文本也在同一行显示 */
    align-items: center; /* 垂直居中 */
    padding: 5px; /* 调整按钮内边距，根据需要设置 */
}
</style>
<script>
//Press Enter to move next one
document.addEventListener('DOMContentLoaded', function() {
    const textboxes = document.querySelectorAll('input[type="text"]');
    textboxes.forEach((textbox, index) => {
        textbox.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault(); // 防止表單提交
                let nextIndex = index + 1;
                while (nextIndex < textboxes.length && textboxes[nextIndex].hasAttribute('readonly')) {
                    nextIndex++;
                }
                if (nextIndex < textboxes.length) {
                    textboxes[nextIndex].focus();
                }
            }
        });
    });
});

function set_session() {
    var plant = $("#id_plant").val();
    var mach = $("#id_mach").val();
    var data_date = $("#id_data_date").val();
    if(plant!="" && mach !="" && data_date != "") {

        $("#session_form").submit();
    }
}

function plant_change() {
    $.ajax({
        url: '{% url 'get_mach_api' %}', type: 'post',
        dataType: 'json',
        data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "plant": $("#id_plant :selected").val()},
        success: function(data) {
            $("#id_mach").html(data);
        }
    });
}

if("{{ msg }}".length > 0) {
    alert("{{ msg }}");
}

function validate(evt) {
  var theEvent = evt || window.event;

  // Handle paste
  if (theEvent.type === 'paste') {
      key = event.clipboardData.getData('text/plain');
  } else {
  // Handle key press
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
  }
  var regex = /[0-9]|\./;
  if( !regex.test(key) ) {
    theEvent.returnValue = false;
    if(theEvent.preventDefault) theEvent.preventDefault();
  }
}
</script>
{% endblock %}

{% block ready %}
    //$("#id_data_date").datepicker({"dateFormat" : "yy-mm-dd"})
    $('#id_data_date').change(function() {
        set_session();
    })
{% endblock ready %}

{% block container %}
<div class="card-header">
    {% if user.is_authenticated %}
    <form action="{% url 'prod_info_save' %}" method="POST" id="session_form">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="method_1" />
        <div class="row">
            <div class="col-md-3">
                <div id="div_id_plant" class="form-group">
                    <label for="id_plant" class=" requiredField">
                        {% trans "Plant" %}<span class="asteriskField">*</span>
                    </label>
                    <div>
                        <select name="plant" onchange="set_session();plant_change();" class="select custom-select" required="" id="id_plant">
                            <option value="">---------</option>
                            {% for plant in plants %}
                            <option value="{{ plant }}" {% if plant.plant_code == sPlant %} selected {% endif %}>{{ plant }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="div_id_mach" class="form-group">
                    <label for="id_mach" class=" requiredField">
                            {% trans "Machine" %}<span class="asteriskField">*</span>
                    </label>
                    <div>
                        <select name="mach" onchange="set_session()" class="select custom-select" required="" id="id_mach">
                            <option value="">---------</option>
                            {% for mach in machs %}
                            <option value="{{ mach.mach_code }}" {% if mach.mach_code == sMach %} selected {% endif %}>{{ mach.mach_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label for="data_date">{% trans "Record Date" %}*</label>
                <input id="id_data_date" class="form-control" name="data_date" type="date" value="{{ sData_date }}" required="" />
            </div>
            <div class="col-md-3">
                <label for="data_date"></label>
                <div class="box-nav-container">
                    <a class="box-nav-btn" href="{% url 'param_value' %}" role="button" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Chart' %}">
                        <i class="fas fa-chart-line"></i>
                    </a>
                    <a class="box-nav-btn" href="{% url 'param_value_product' %}" role="button" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Chart' %}">
                        <i class="fas fa-chart-bar"></i>
                    </a>
                    <a class="box-nav-btn" href="{% url 'param_value_rate' %}" role="button" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Chart' %}">
                        <i class="fa fa-chart-area"></i>
                    </a>
                    <a class="box-nav-btn" href="{% url 'rd_report' %}" role="button" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Report' %}">
                        <i class="far fa-sticky-note"></i>
                    </a>
                    <a class="box-nav-btn" href="{% url 'product_info_report' %}" role="button" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Report' %}">
                        <i class="fa fa-info"></i>
                    </a>
                    <a class="box-nav-btn" href="{% url 'oee_report' %}" role="button" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Report' %}" target="_blank">
                        <i class="fa fa-inbox"></i>
                    </a>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
</div>
<div class="content">
    <div class="row m-3" style="height:500px">
        <div class="col-10">
           {% block content %}
           {% endblock content %}
        </div>
        <div class="col-1">
        {% if request.session.plant %}
        <a href="{% url 'daily_info_create' %}" class="btn btn-info" style="width:220px;">
            {% trans 'Production Data' %}
        </a>
        {% endif %}
        {% for process in processes %}
        <a href="{% url 'record' process.process_code %}" class="btn {% if process.process_code == process_code %}btn-dark{% else %}btn-info{% endif %}" style="width:220px;margin-top: 5px">
            {% if lang == "zh-hant" %}
                {{ process.process_tw }}
            {% elif lang == "vi" %}
                {{ process.process_vn }}
            {% elif lang == "zh-hans" %}
                {{ process.process_cn }}
            {% else %}
                {{ process.process_name }}
            {% endif %}
        </a>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}