{% extends 'collection/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
{% load i18n %}
<style>
.daily_info_remark {
    font-size: 18pt;
}

.select2-container {
    width: 100% !important; /* 设置Select2的宽度 */
}
</style>
{% endblock css %}
{% block js %}
<link href="{% static "select2/css/select2.min.css" %}" rel="stylesheet" />
<script src="{% static "select2/js/select2.min.js" %}"></script>
<script>
    function validation() {
        return true;
    }

    $(document).ready(function() {
        $('.select2').select2({
            placeholder: '---',
            allowClear: true
        });

        $('#id_prod_name_a1').on('change', function() {
            var value = $(this).val();
            if ($('#id_prod_name_a2').val() === '') {
                $('#id_prod_name_a2').val(value).trigger('change');
            }
        });

        $('#id_prod_name_b1').on('change', function() {
            var value = $(this).val();
            if ($('#id_prod_name_b2').val() === '') {
                $('#id_prod_name_b2').val(value).trigger('change');
            }
        });
    });
</script>
{% endblock js %}
{% block title %}
Daily Production Information
{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <form action="" method="POST" onSubmit="return validation()" id="record_form">
            {% csrf_token %}
            {% crispy form %}
            <table border="1" class='table table-bordered table-striped'>
                <tr>
                    <th style="text-align: center">{% trans "Line" %}</th>
                    <th>{% trans "Product" %}</th>
                    <th style="text-align: center">{% trans "Size" %}</th>
                    <th style="text-align: center">{% trans "create_at" %}</th>
                    <th style="text-align: center">{% trans "Delete" %}</th>
                </tr>
                {% for info in daily_prod_info_heads %}
                <tr>
                    <td style="text-align: center">{{ info.line }}</td>
                    <td>{{ info.product }}</td>
                    <td style="text-align: center">{{ info.size }}</td>
                    <td style="text-align: center">{{ info.create_at|date:"d/m/Y H:i" }}</td>
                    <td style="text-align: center">
                        <a href="{% url 'daily_info_head_delete' info.pk %}" role="button" onclick="return confirm('{% trans "Are you sure?" %}')"><i class="fas fa-times"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="row" style="padding-top: 20px;">
                <div class="col-12" style="text-align: center">
                    <input class="btn btn-info" style="width:150px;height: 50px;" type="submit" value="{% trans "save" %}" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}