{% extends 'bases/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block head %}

{% endblock %}
{% block title %}

{% endblock title %}
{% block breadcrumb %}

{% endblock %}

{% block base_js %}

{% endblock %}

{% block ready %}

{% endblock ready %}

{% block container %}
<div class="card-header">
    <a href="{% url 'fast_check' %}" class="btn btn-warning btn">
        <i class="fas fa-wrench"></i> DashBoard
    </a>
    <a href="{% url 'fast_check2' %}" class="btn btn-warning btn">
        <i class="fas fa-wrench"></i> AOI
    </a>
    <a href="{% url 'runcard_info' %}" class="btn btn-warning btn">
        <i class="fas fa-wrench"></i> RunCard
    </a>
    <a href="{% url 'file_list' %}" class="btn btn-warning btn" target="_blank">
        <i class="fas fa-wrench"></i> SCADA File
    </a>
    <a href="{% url 'spiderweb' %}" class="btn btn-warning btn">
        <i class="fas fa-wrench"></i> Spider
    </a>
    <a href="{% url 'monthly_check' %}" class="btn btn-warning btn">
        <i class="fas fa-wrench"></i> Monthly Check
    </a>
    <a href="{% url 'daily_report_comment' %}" class="btn btn-warning btn">
        <i class="fas fa-wrench"></i> DailyReport Comment
    </a>
</div>
<div>
{% block content %}
{% endblock content %}
</div>

{% endblock %}

{% block ajax %}

{% endblock %}