{% extends 'mes/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
{% load i18n %}

{% endblock css %}
{% block js %}

<style>
    .nav-item {
        width: 5vw;
    }
</style>


{% endblock js %}
{% block title %}
Monthly Check
{% endblock title %}
{% block content %}
    <div class="container-fluid mt-3">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-center" id="gd-tab" data-toggle="tab" href="#gd" role="tab" data-tabtype="gd">GD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" id="lk-tab" data-toggle="tab" href="#lk" role="tab" data-tabtype="lk">LK</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="gd" role="tabpanel">
                <div class="row d-flex justify-content-center">
                    <div class="col-6">
                        <div class="card p-4 shadow-sm" id="detailsDialog_gd">
                            <form method="post" id="form_gd">
                                {% crispy form %}
                                <button type="submit" class="btn btn-primary btn-lg">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
                <table id="jsGrid_gd"></table>
            </div>

            <div class="tab-pane fade" id="lk" role="tabpanel">
                <div class="row d-flex justify-content-center">
                    <div class="col-6">
                        <div class="card p-4 shadow-sm" id="detailsDialog_lk">
                            <form method="post" id="form_lk">
                                {% crispy form %}
                                <button type="submit" class="btn btn-primary btn-lg">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
                <table id="jsGrid_lk"></table>
            </div>

        </div>
    </div>

    <script>
    $(document).ready(function () {
        const deleteUrl = "{% url 'daily_report_delete' %}";

        function renderJsGrid(tabtype) {
            const gridId = "#jsGrid_" + tabtype;
            const dialogId = "#detailsDialog_" + tabtype;

            $(dialogId).dialog({
                autoOpen: false,
                width: 400,
                modal: true
            });

            $(gridId).jsGrid("destroy");

            $(gridId).jsGrid({
                width: "100%",
                height: "700px",

                inserting: false,
                editing: false,
                sorting: true,
                paging: false,
                autoload: true,
                controller:{
                    loadData: function(filter) {
                        filter.tabtype = tabtype;
                        console.log("Calling loadData with filter:", filter);
                        return $.ajax({
                            url: "{% url 'daily_report_all' %}",
                            type: "GET",
                            data: filter,
                            dataType: "json",
                            }).then(function(response) {
                                console.log("Dữ liệu từ server:", response);
                                return response.data;
                            });
                    },
                },

                fields: [
                    { name: "report_date", type: "date", title: "Date", align: "center" },
                    { name: "comment", type: "text", title: "Comment", align: "center" },
                    {
                        headerTemplate: function() {
                            return $("<button>")
                                .attr("type", "button")
                                .text("Add")
                                .addClass("btn btn-success btn-lg")
                                .html('<i class="fas fa-plus"></i>')
                                    .on("click", function () {
                                        showDetailsDialog("Add", {'report_date': '', 'comment': ''}, tabtype);
                                    });
                        },
                        modeSwitchButton: false,
                        editButton: false,
                        name: "delete",
                        align: "center",
                        title: "",
                        filtering: false,
                        sorting: false,
                        itemTemplate: function(_, item) {
                            return $("<button>")
                                .html('<i class="fas fa-trash"></i>')
                                .addClass("btn btn-danger btn-sm")
                                .on("click", function () {
                                    if (confirm("Do you want to delete this one?")) {
                                        fetch(deleteUrl, {
                                            method: 'DELETE',
                                            headers: {
                                                'Content-Type': 'application/json',
                                                'X-CSRFToken': '{{ csrf_token }}',
                                            },
                                            body: JSON.stringify({
                                                report_date: item.report_date,
                                                comment: item.comment,
                                                tabtype: tabtype
                                            })
                                        })
                                        .then(response => response.json())
                                        .then(data => {
                                            if (data.status === 'ok') {
                                                alert("Delete successfully!");
                                                renderJsGrid(tabtype);
                                                {#$("button[type='submit']").trigger('click');#}
                                            } else {
                                                alert("Error??");
                                            }
                                        })
                                        .catch(error => {
                                            alert("Error: " + error);
                                        });
                                    }
                                });
                        }
                    },

                ]
            });


        }

        renderJsGrid("gd");

        // Khi click tab khác
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            const tabtype = $(e.target).data("tabtype");  // "gd" hoặc "lk"
            renderJsGrid(tabtype);
        });


        let showDetailsDialog = function(dialogType, client, tabtype) {
            const dialogId = "#detailsDialog_" + tabtype;
            $(`${dialogId} #report_date`).val(client.report_date);
            $(`${dialogId} #comment`).val(client.comment);

            $(dialogId).dialog("option", "title", dialogType + " Note").dialog("open");
        };


        $("#form_gd, #form_lk").on("submit", function(e) {
            e.preventDefault();
            const $form = $(this);
            const tabtype = $(".tab-pane.show.active").attr("id");
            const dialogId = "#detailsDialog_" + tabtype;
            const jsGrid = "#jsGrid_" + tabtype;

            $.ajax({
                url: "{% url 'daily_report_comment' %}",
                type: "POST",
                data: $(this).serialize() + "&tabtype=" + tabtype,
                success: function(response) {
                    $form.find("#id_comment").val('');

                    $(jsGrid).jsGrid("destroy");

                    renderJsGrid(tabtype);
                    $(dialogId).dialog("close");
                },
                error: function(xhr) {
                    alert("Lỗi: " + JSON.stringify(xhr.responseJSON));
                }
            });
        });


    });
</script>
{% endblock content %}